// 经典主题样式
.theme-classic {
  // 基础样式重置
  --shadow-card: none;
  --color-sidebar-text: #252525;

  .theme-dark {
    --color-sidebar-nav-icon: #f4f4f4;
    --color-sidebar-text: #f4f4f4;
    --color-sidebar-icon: #808080;
  }

  // 布局容器
  .content-wrapper {
    padding: 0;
    background: var(--color-bg-primary) !important;

    &::before {
      display: none; // 移除渐变叠加效果
    }

    .theme-overlay {
      display: none; // 移除暗色遮罩
    }
  }

  // 侧边栏
  .sidebar {
    background: var(--sidebar-bg);
    border-right: 1px solid var(--color-border);
    border-radius: 0;
    backdrop-filter: none;
    padding: 0 4px;
    .sidebar-titlebar {
      margin-top: 10px !important;
    }

    .action-btn {
      background: var(--color-shape-tertiary) !important;
    }
    .sidebar-nav {
      .nav-item {
        .icon {
          :deep(.i-icon[theme="outline"]) {
            color: var(--color-text-primary) !important;
          }

          :deep(.i-icon[theme="filled"]) {
            color: var(--color-text-primary) !important;
            fill: var(--color-text-primary) !important;
          }
        }
        .name {
          color: var(--color-text-primary) !important;
        }
      }
      .nav-item:hover {
        background: var(--color-hover-sidebar) !important;
      }
      .nav-item.active {
        background: var(--color-hover-sidebar) !important;
      }
    }
  }
  .starred-header:hover {
    background: var(--color-hover-sidebar) !important;
  }

  .starred-note-content:hover {
    background: var(--color-hover-sidebar) !important;
  }

  .tags-header:hover {
    background: var(--color-hover-sidebar) !important;
  }

  .tag-content:hover {
    background: var(--color-hover-sidebar) !important;
  }

  .recent-header:hover {
    background: var(--color-hover-sidebar) !important;
  }

  .starred-note-card:hover {
    background: var(--color-hover-sidebar) !important;
  }

  .clear-empty-note:hover {
    background: var(--color-hover-sidebar) !important;
  }
  .theme-button:hover {
    background: var(--color-hover-sidebar) !important;
  }
  .help:hover {
    background: var(--color-hover-sidebar) !important;
  }
  // 主内容区域
  .main-content {
    background: var(--color-bg-primary) !important;
    border-radius: 0;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    // border: 1px solid var(--color-border);
  }

  // 卡片样式
  .note-card {
    border: 1px solid var(--color-border);
    box-shadow: none;
    background: #fff;
  }

  .right-sidebar {
    background-color: var(--sidebar-bg);
    border-radius: 0;
    border-left: 1px solid var(--color-border);
    box-shadow: none;
  }
}

// 暗色模式下的经典主题
.theme-dark.theme-classic {
  --color-bg-primary: #1e1e1e;
  --color-border: #333;

  .content-wrapper {
    background: #1e1e1e !important;
  }

  .sidebar,
  .main-content,
  .note-card {
    background: #252525;
  }
}
